<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="activity" class="org.nocode.timing.pojo.Activity"/>
    <bean id="userActivity" class="org.nocode.timing.pojo.UserActivity"/>
    <bean id="user" class="org.nocode.timing.pojo.User"/>
</beans>